body {
  font-family: Arial, sans-serif;
  margin: 0;
  font-size: 16px;
  text-align: center;
  background-image: url("https://wallpaperaccess.com/full/2880825.jpg");
  background-color: #222;
  color: #fff;
  background-size: cover;
  background-position: center center;
  
  }